            <section class="container">
                <img src="<%=data.imge_url %>" alt="">
                <h5><%= data.title %></h5>
                <h6><%= data.author %></h6>
                <p><%= data.description %></p>
            </section>
